.header__nav {
	margin: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
	list-style: none;

	a {
		position: relative;
		display: block;
		margin: 0 12px;
		padding: 0 10px;

		font-weight: 700;
		font-size: 18px;

		// color: white;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 6px;
			border-radius: 16px;
			background: #03e9f4;
			box-shadow: 0 0 10px #03e9f4, 0 0 40px #03e9f4, 0 0 80px #03e9f4;
			left: 50%;
			bottom: -10px;
			transform: translateX(-50%);
			transition: 0.5s;
		}

		&:hover::after {
			width: 100%;
		}
	}

	.activeStyle {
		&::after {
			width: 100%;
			background: #9c03f4;
			box-shadow: 0 0 10px #9c03f4, 0 0 40px #9c03f4, 0 0 80px #9c03f4;
		}
	}
}
