::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: #212529;
	-webkit-box-shadow: 0px 5px 10px red;
	box-shadow: 0px 5px 10px red;
}

::-webkit-scrollbar-thumb {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(red),
		to(#002fff)
	);
	background: linear-gradient(to bottom, red, #002fff);
	border-radius: 30px;
	box-shadow: 0px 0px 10px #ff0000, 0px 0px 20px #ff0000, 0px 0px 30px #ff0000;
	//border: 2px solid #15c1e5;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	// padding: 0;
	// list-style: none;
	// text-decoration: none;
	// border: none;
	// background: transparent;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
